#firstChoice {
  z-index: 90;
  margin-left: 22%;
  width: 60%;
}
#statsOne {
  z-index: 91;
  margin-left: 28%;
  margin-top: 3%;
  font-size: x-large;
}

#secondChoice {
  z-index: 90;
  margin-left: 22%;
  width: 60%;
}
#statsTwo {
  z-index: 91;
  margin-left: 28%;
  margin-top: 3%;
  font-size: x-large;
}
#battleButton {
  z-index: 90;
  margin-left: 22%;
  width: 60%;
}
