#battleLogo {
  z-index: -11;
  margin-left: 31%;
  margin-top: -5%;
  position: absolute;
}
#pulseBattle {
  z-index: -10;
  position: absolute;
  margin-left: 29%;
  width: 45%;
  margin-top: -14%;
}
#separator {
  z-index: -9;
  position: absolute;
  transform: rotate(90deg);
  margin-left: 23%;
  margin-top: -1%;
  height: 90%;
}
